<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agreyasoft.admin_sisf">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Add_fee"></activity>
        <activity android:name=".Activity.Schedule" />
        <activity
            android:name=".Activity.Add_Student"
            android:label="Add Student" />
        <activity
            android:name=".Activity.Add_Batch"
            android:label="Add New Batch" />
        <activity
            android:name=".Activity.Tutor_list"
            android:label="Tutor List" />
        <activity
            android:name=".Activity.Admin_student_details"
            android:label="Student Details" />
        <activity
            android:name=".Activity.Admin_Subject_Details"
            android:label="Subject Details" />
        <activity
            android:name=".Activity.Attendance_page"
            android:label="Attendance" />
        <activity
            android:name=".Activity.Home_Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Home_Tutor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Splash_Screen"
            android:theme="@style/AppTheme_noactionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Login_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>